build/
.vscode
dockerfile

# CMake build
server/build/
server/CMakeFiles/
server/cmake_install.cmake
server/CMakeCache.txt
server/Makefile

# CMake build GUI
WisielecGameGUI/build/

.vscode/server/server.exe
.vscode/server/server_debug.exe
.vscode/client/client.exe
server.exe§
a.out
